html {
    background-color:#EEF4ED;
    margin:auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
 
}


img {
    border: 1px solid #7A93AC;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

/* ----- HEADER ----- */ 

header {
    background-color: rgb(62, 107, 153);
    padding: 2em;
}

header a {
    color: #EEF4ED;
    text-decoration: none;
}

.title a h2 {
    padding:0;
    margin:0;
}

.log_out {
    text-align:right;
}
 
.log_out button {
    padding:10px;
    display: inline-block;
    border-radius: 8px;
    border: none;
}


/* ----- FOOTER ----- */

footer {
    background-color:rgb(171, 191, 211);
    padding: 0.5em;
    height: 1em;
    position: relative;
}

footer p {
    margin: 0;
    text-align: right;
    font-size: small;
    font-family: Helvetica;
    color: #4C4C47;
   
}


/* ----- Right Bar ----- */

.right_bar{
    margin-left:1em;
    margin-right:1em;
    padding-top:3em;
    padding-bottom:3em;
    position: relative;
    color: white;
}

.right_bar ul {
    margin:0;
    padding: 0;
}

li{
    list-style-type: none;
    
}
  
.right_bar li {
    background-color: rgb(62, 107, 153);
    text-align: center;
    font-size: 15px;
    padding: 5px 0;
    border-bottom: 5px solid white;
    border-radius: 1em;
    border-left: 1px solid white;
  }

#sub_list{
    margin-left: 2em;
    margin-right:2em;
}

.right_bar a{
    color: white;
}

.right_bar a:hover {
    border-bottom-style: solid;
    border-color:rgb(171, 191, 211);
}


#sub_list{
    text-indent: 5px;
    font-size:10px;
  
}


/* ----- Body ----- */

a {
    color: black;
    text-decoration: none;
    font-size: small;
} 

a:hover {
    border-bottom-style: solid;
    border-width: 1px;
    border-color:  rgb(62, 107, 153);
}


#left{
    padding:3em;
    text-align:center;
}


#right{
    padding:3em;
}


#right li a {
    color: #4C4C47;
}

h1{
    margin:0;
    margin-bottom:0.5em;
    font-size: large;
    color: rgb(16, 79, 141);
}

p{
    font-size: small;
}


/* ----- Main ----- */

#tab{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
    margin-right: 2em;
    margin-left: 2em;
    border-bottom-style: solid;
    border-width: 0.5px;
    border-color:#7A93AC;
    text-align: center;
    font-weight: bold;
}

#tab li a:hover {
    padding-bottom: 0.5em;
    border-bottom-style: solid;
    border-width: 3px;
    border-color:  rgb(62, 107, 153);
}

#current_work{
    margin:2em;
}

#past_work {
    margin:2em;
}

#each{
    padding: 0;
    margin:2px;
}



/* ----- Search ----- */

#left ul{
    padding:0;
}

#left li{
    margin: 2px;
}


/* ----- Notes ----- */

#notes{
    border-top:1px solid rgb(97, 135, 173);
}

#notes button {
    padding: 5px;
    background-color: rgb(171, 191, 211);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    border-radius: 6px;
    margin:1em;
}

#notes button:hover {
    opacity: 0.6;
    cursor: pointer;
}

#notes p{
    margin:0;
    text-align:justify;
}


/* ----- Station ----- */

#station_tab{
    padding-left:3em;
    border-left:1px solid rgb(97, 135, 173);
}

#right_station{
    padding-top:3em;
    padding-bottom:3em;
    padding-right:3em;
}


#right_station li a {
    color: #4C4C47;
}


/* ----- occurrence ----- */


#occurrence{
    padding:3em;
    text-align:center;
}
 
#occ_button {
    padding: 5px;
    background-color: rgb(171, 191, 211);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    border-radius: 6px;
    margin:1em;
}

#occ_button:hover {
    opacity: 0.6;
    cursor: pointer;
}

#occ_updates{
    padding:1em;
    margin-left: 4em;
    border-top:1px solid rgb(97, 135, 173);
}

#occ_updates form{
    text-align: left;
}

#add_update{
    margin-left: 2em;
    margin-top:1em;
}

#single_update{
    padding:1em;
    margin-left: 1em;
    border-bottom:1px solid rgb(97, 135, 173);
}

.update_title{
    color:rgb(97, 135, 173);
    font-size:medium;
}

.update_date_hour_user{
    margin-left:1em;
}

i{
    font-weight: bold;     
}

#all_personnel{
    margin-left:1em;
}

#state input[type="submit"]{
    height: 20px;
    width: 60px;
    font-size: 10px;
}

#state select {
    padding: 0.5em;
    font-size: 10px;
    margin:1em;
}
